<!DOCTYPE html>
<html>

<head>
    {% block title %}<title>Your Music App</title>{% endblock %}
    <meta charset="UTF-8" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />
    <script src="{% static 'music/script.js' %}"></script>
</head>

<body>
    <div id="main-container">
        <!-- Cabecera de página -->
        <header>
            <h1><a href="{% url 'index' %}">Music App</a></h1>
        </header>

        <!-- Menú de navegación -->
        <nav>
            <ul id="menu">
                <li id="menu-title">Menú</li>
                <li class="menu-item">
                    <a href="">Artistas</a>
                </li>
                <li class="menu-item">
                    <a href="">Álbumes</a>
                </li>
                <li class="menu-item">
                    <a href="">Conciertos</a>
                </li>
                <li class="menu-item">
                    <a href="">Videos</a>
                </li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <!-- Pie de página -->
        <footer>Copyright © Python y la Web, 2022. Más información <a href="">en la página de La Clase Ejecutiva.</a></footer>
    </div>
</body>

</html>